/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */
h1 {
    text-align: center;
    background-color: #B08968;
    color: #E6CCB2;
    padding: 50px;
    font-size: 80px;
}

body {
    background-color: #EDE0D4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #B08968;
}

p {
    color: #E6CCB2;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    background-color: #B08968;
    text-align: center;
    padding: 50px;
}

div {
    display: flex;
    justify-content: center;
    margin-left: -35px;
    margin-right: -35px;

}

.hover11 figure img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3 ease-in-out;
}

.hover11 figure:hover img {
    opacity: .5;
}

img {
    border: 5px solid #B08968;
    width: 400px;
    height: 500px;
}